@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

nav {
  height: 39px;
}

.btn-light img {
  width: 25px;
  height: 20px;
}

.custom-btn-padding img {
  padding-right: 5px;
}

.btn-light:hover {
  border-radius: 0px;
}


.btn-hover-danger:hover {
  background-color: red;
  border: none;
}

.active:hover {
  background-color: grey;
}

body {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-fluid {
  word-spacing: 2px;
  letter-spacing: 2px;
}

.nav li a {
  color: black !important;
}

.carousel-text {
  font-size: 30px;
  text-align: left;
  color: black;
}

.card h1,
h6 {
  text-align: center;
}

.col-text {
  padding-left: 50px;
}

.col-text h5 {
  letter-spacing: 3px;
}

.col-text p {
  color: gray;
}

.custom {
  color: cadetblue;
  font-weight: bolder;
  letter-spacing: 2px;
}

.gray{
  color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.card{
    width: 600px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.card h2{
  margin-bottom: 10px;
}

.card a.fp{
  width: 100%;
  display: flex;
  color: #5881D0;
}

.login_register{
  display: flex;
  width: 100%;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 15px;
  margin: 20px 0;
}

.login_register a{
  font-size: 1em;
  padding: 10px 55px;
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(90deg, #003A74, #006AD5);
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  color: #A0A6A3;
  font-family: "Roboto Mono", sans-serif;
  box-shadow: 1px 5px 9px rgba(211, 211, 211, .7);
}

.form input.email{
  margin-bottom: 15px;
}

.form input.pass{
  margin-bottom: 15px;
}

.form input.comfirm_pass{
  margin-bottom: 5px;
}

.login_btn{
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #003A74;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(-90deg, #003A74, #006AD5);
  box-shadow: 1px 5px 9px rgba(211, 211, 211, .9);
}